@model MvcPL.ViewModels.CategoryUpdateViewModel

@{
    ViewBag.Title = "Edit Category";
}

<h2>Edit Category</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create category</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            <div class="editor-label">
                @Html.LabelFor(model => model.ForRegistered)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ForRegistered)
                @Html.ValidationMessageFor(model => model.ForRegistered)
            </div>
            @Html.HiddenFor(model => model.ParentCategoryId, new { Value = Model.ParentCategoryId })
            @Html.HiddenFor(model => model.Id, new { Value = Model.Id })
            <p>
                <input type="submit" value="Save" />
            </p>
    </fieldset>
}